<h1>News Database</h1>

<a href="/new_article">New Article</a>

<ul>
  <% @news.each do |article| %>
    <li>
      <%= article.date %>: 
      <a href="<%= article.url %>">
        <%= article.title %>
      </a>

      <form action="/<%= article.id %>/destroy" method="post">
        <button type="submit">Delete</button>
      </form>

    </li>
  <% end %>
</ul>
