<h1>News Database</h1>

<a href="/new_article">New Article</a>

<ul>
  <% @news.each do |article| %>
    <li>
      <%= article.date %>: 
      <a href="<%= article.url %>">
        <%= article.title %>
      </a>
    </li>
  <% end %>
</ul>
